---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("pages", "404");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container row">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 class="mb-12 text-2xl" set:html={markdownify(entry.data.title)} />
          <Content />
        </div>
      </div>
    </div>
  </div>
</Base>
