---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title } = entry.data;
---

<Base title={title}>
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container">
      <h1 set:html={markdownify(title)} class="index-title" />
      <div>
        <form
          class="contact-form mt-6"
          method="POST"
          action={contact_form_action}
        >
          <div class="row">
            <div class="mb-4 lg:col-6">
              <label class="block mb-3 font-bold">名前 <span class="text-red-600">*</span></label>
              <input
                class="form-input w-full"
                name="name"
                type="text"
                required
              />
            </div>
            <div class="mb-4 lg:col-6">
              <label class="block mb-3 font-bold">メールアドレス <span class="text-red-600">*</span></label>
              <input
                class="form-input w-full"
                name="email"
                type="email"
                required
              />
            </div>
          </div>
          <div class="mb-4">
            <label class="block mb-3 font-bold">件名 <span class="text-red-600">*</span></label>
            <input
              class="form-input w-full"
              name="subject"
              type="text"
              required
            />
          </div>
          <div class="mb-4">
            <label class="block mb-3 font-bold">内容 <span class="text-red-600">*</span></label>
            <textarea
              class="form-textarea w-full"
              rows="7"></textarea>
          </div>
          <button class="btn btn-primary block w-full">送信</button>
        </form>
      </div>
    </div>
  </div>
</Base>
