---
import Base from "@/layouts/Base.astro";
import Posts from "@/components/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
---

<Base>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <h1 class="index-title">新着記事</h1>
    <div class="container row">
      <Posts posts={sortPostByDate} />
      <a href="/posts" class="text-center mb-6 border border-text px-8 py-2 hover:text-primary hover:border-primary">
        もっと見る
      </a>
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
