---
import { PiArticleNyTimesLight } from "react-icons/pi";
import Base from "@/layouts/Base.astro";
import Posts from "@/components/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
---

<Base>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="text-center border-b-2 border-primary mb-12">
      <div class="top-title-icon">
        <PiArticleNyTimesLight />
      </div>
      <div class="pb-4">
        <span class="top-title-sub">新着記事</span>
        <h2 class="top-title">NEW POST</h2>
      </div>
    </div>
    <div class="container justify-center">
      <Posts posts={sortPostByDate} />
      <div class="flex justify-center">
        <a href="/posts" class="text-center pointer bg-primary-check text-xs sm:text-sm mb-2.5 sm:mb-0 text-white px-6 py-3 block w-32 tag-transition">
          もっと見る
        </a>
      </div>
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
