---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import { getSinglePage } from "@/lib/contentParser.astro";

const { blog_folder } = config.settings;

// Retrieve all articles
const posts = await getSinglePage(blog_folder as any);

// List of items to search in
const searchList = posts.map((item:any) => ({
  id: item.id,
  slug: item.slug,
  data: item.data,
}));
---

<Base title={`Search`}>
  <section class="section p-2.5 lg:p-8 shadow sm:p-[60px] bg-white">
    <SearchBar client:load searchList={searchList} />
  </section>
</Base>
<!-- @layouts/SearchBar -->