---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { PiArticleNyTimesLight } from "react-icons/pi";

export async function getStaticPaths() {
  const posts = await getSinglePage(config.settings.blog_folder as any);
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
const { slug } = Astro.params;
const posts = await getSinglePage(config.settings.blog_folder as any);
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);
---

<Base>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow sm:p-[60px] bg-white">
    <div class="container row">
      <div class="text-center border-b-2 border-primary mb-12 px-0">
        <div class="top-title-icon">
          <PiArticleNyTimesLight />
        </div>
        <div class="pb-4">
          <span class="top-title-sub">ブログ</span>
          <h2 class="top-title">BLOG</h2>
        </div>
      </div>
      <Posts posts={currentPosts} />
      <Pagination section={"posts"} currentPage={currentPage} totalPages={totalPages} />
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
