---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { BiCategory, BiSolidCategory } from "react-icons/bi";

const { blog_folder } = config.settings;

const categories = await getTaxonomy(blog_folder, "categories");
---

<Base title={"categories"}>
  <section class="section p-2.5 lg:p-8 shadow sm:p-[60px] bg-white">
    <div class="container row">
      <div class="text-center border-b-2 border-primary mb-12 px-0">
        <div class="top-title-icon">
          <BiCategory />
        </div>
        <div class="pb-4">
          <span class="top-title-sub">カテゴリー</span>
          <h2 class="top-title">CATEGORY</h2>
        </div>
      </div>
      <ul class="flex flex-col">
        {
          categories.map((category) => (
            <li class="border-b">
              <a
                href={`/categories/${category}`}
                class="flex relative hover:bg-theme-light items-center align-middle"
              >
                <BiSolidCategory className="ml-2 absolute" />
                <span class="py-2.5 pr-2.5 pl-8 text-base">{humanize(category || "")}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
