---
import Social from "./Social.astro";
import social from "@/config/social.json";
---

<section class="card mb-6 shadow bg-white pb-4 relative">
  <header class="bg-primary-check">
    <div class="avatar">
      <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="profile" />
    </div>
  </header>

  <div class="name">nanashi</div>
  <div class="px-4 pb-4 text-[15px] opacity-75">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti.
  </div>
  <div class="w-full rounded flex items-center justify-center gap-1">
    <Social source={social} className="social-icons-sm" />
  </div>
</section>

<style>
/* 暫定的にここにスタイルを置く */
.card {  
  header {
    position: relative;
    height: 90px;
    .avatar {
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #ccc;
      border:3px solid #fff;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    }
  }

  .name {
    position: relative;
    margin: 50px 0 30px;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: #000;
    }
  }
}
</style>
