---
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import RelatedPost from "./RelatedPost.astro";
import similerItems from "@/lib/utils/similarItems";
const { post } = Astro.props;

const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);

const relatedPosts = similerItems(post, sortPostByDate, post.slug);
---

{relatedPosts.length > 0 && (
  <div class="mb-6 sm:mb-7 text-base sm:text-xl font-bold border-l-8 border-primary border-double py-[0.3em] px-[0.5em]">
    関連記事
  </div>
  <ul class="row sm:gx-3 gx-2">
    {
      relatedPosts.slice(0, 5).map((post) => (
        <RelatedPost post={post} />
      ))
    }
  </ul>
)}
