---
import { BiSolidChevronUp } from "react-icons/bi";
---

<button type="button" id="scrollToTopBtn" class="fixed bottom-4 right-3 hidden cursor-pointer border rounded-full opacity-75 p-3 bg-white hover:text-primary hover:border-primary mx-2 z-10" title="scroll to top">
  <BiSolidChevronUp />
</button>
  
<script>
  let scrollToTopBtn = document.getElementById("scrollToTopBtn");
  
  window.onscroll = function () {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      scrollToTopBtn.classList.add('block')
      scrollToTopBtn.classList.remove('hidden')
    } else {
      scrollToTopBtn.classList.add('hidden')
      scrollToTopBtn.classList.remove('block')
    }
  };

  scrollToTopBtn.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  })
</script>