---
const { heading } = Astro.props
const subheadings = heading.subheadings
const isShowSubheadings = subheadings.length > 0 && heading.depth <= 2
---

<li class={heading.depth === 2 ? "toc-item-h2" : "toc-item-h3"}>
  <a href={'#' + heading.slug} class="hover:opacity-75">
    {heading.text}
  </a>
  {isShowSubheadings && (
    <ul class="toc">
      {subheadings.map((subheading: any) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>
