---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import Logo from "@/layouts/components/Logo.astro";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="footer">
  <div class="container text-center">
    <div class="sm:flex items-center mb-8">
      <div class="mb-8 sm:mb-0 sm:col-4">
        <Logo />
      </div>
      <div class="mb-8 sm:mb-0 sm:col-4">
        {/* footer menu */}
        <ul class="space-x-4">
          {
            menu.footer.map((menu) => (
              <li class="inline-block">
                <a
                  href={menu.url}
                  class="text-white hover:underline sm:p-4 text-xs sm:text-sm"
                >
                  {menu.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 sm:mb-0 sm:col-4">
        <Social source={social} className="social-icons" />
      </div>
    </div>
    {/* social icons */}
    {/* copyright */}
    <p
      class="text-xs sm:text-sm text-white"
      set:html={markdownify(config.params.copyright)}
    />
  </div>
</footer>
