---
import Profile from "@/components/Profile.astro";
import config from "@/config/config.json";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { BiSolidFolder, BiSolidPurchaseTag } from "react-icons/bi";

const { blog_folder } = config.settings;

const categories = await getTaxonomy(blog_folder, "categories");
const tags = await getTaxonomy(blog_folder, "tags");
---

<aside class="col-span-4 lg:col-span-1">
  <section class="section">
    <Profile />
    <div class="p-3 mb-6 shadow bg-white">
      <div class="sidebar-title">カテゴリー</div>
      <ul class="flex flex-col">
        {
          categories.map((category) => (
            <li class="border-b">
              <a
                href={`/categories/${category}`}
                class="flex relative hover:bg-theme-light items-center align-middle"
              >
                <BiSolidFolder className="h-[12px] w-[12px] ml-1 absolute" />
                <span class="py-2.5 pr-2.5 pl-6 text-sm">{humanize(category || "")}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="p-3 mb-6 shadow bg-white">
      <div class="sidebar-title">タグ</div>
      <div class="items-center text-sm flex flex-wrap gap-2">
        {tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="bg-white text-primary border-primary p-1 border rounded-sm text-xs-fit hover:opacity-75"
          >
            # {humanize(tag || "")}
          </a>
        ))}
      </div>
    </div>
  </section>
</aside>