---
import Profile from "@/components/Profile.astro";
import config from "@/config/config.json";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { BiSolidFolder, BiSolidPurchaseTag } from "react-icons/bi";

const { blog_folder } = config.settings;

const categories = await getTaxonomy(blog_folder, "categories");
const tags = await getTaxonomy(blog_folder, "tags");
---

<aside class="col-span-4 lg:col-span-1">
  <section class="section">
    <Profile />
    <div class="mb-4">
      <div class="mb-4">カテゴリー</div>
      <ul class="flex flex-col gap-0.5 min-w-60">
        {
          categories.map((category) => (
            <li class="flex items-center py-1 px-2 rounded-md align-middle hover:text-stone-800 dark:hover:text-white hover:bg-stone-200">
              <a
                href={`/categories/${category}`}
                class="block flex"
              >
                <span class="grid place-items-center shrink-0">
                  <BiSolidFolder className="mr-2 h-[15px] w-[15px] text-gray-600" />
                </span>
                {humanize(category || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="mb-4">
      <div class="mb-4">タグ</div>
      <ul class="flex flex-col gap-0.5 min-w-60">
        {
          tags.map((tag) => (
            <li class="flex items-center py-1 px-2 rounded-md align-middle hover:text-stone-800 dark:hover:text-white hover:bg-stone-200">
              <a
                href={`/tags/${tag}`}
                class="block flex"
              >
                <span class="grid place-items-center shrink-0">
                  <BiSolidPurchaseTag className="mr-2 h-[15px] w-[15px] text-gray-600" />
                </span>
                {humanize(tag || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</aside>