---
import { markdownify } from "@/lib/utils/textConverter";
import Spacer from "./components/Spacer.astro";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await data.render();
---

<div class="section p-2.5 lg:p-8 shadow sm:p-[60px] bg-white">
  <div class="container">
    <h1 set:html={markdownify(title)} class="index-title" />
    <div class="content">
      <Content components={{
        Spacer
      }} />
    </div>
  </div>
</div>
