---
import { settings } from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Post from "@/layouts/partials/Post.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
const totalPages = Math.ceil(posts.length / settings.pagination);
---

<Base>
  <!-- Blogs -->
  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto px-0 lg:col-8">
          <div class="rounded py-12 px-9 shadow md:p-[60px]">
            {
              sortPostByDate
                .slice(0, settings.pagination)
                .map((post) => <Post post={post} />)
            }
            <Pagination currentPage={1} totalPages={totalPages} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
