---
import Posts from "@/components/Posts.astro";
import { settings } from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { PiArticleNyTimesLight } from "react-icons/pi";
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
const totalPages = Math.ceil(posts.length / settings.pagination);
---

<Base>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container row">
      <div class="text-center border-b-2 border-primary mb-12 px-0">
        <div class="top-title-icon">
          <PiArticleNyTimesLight />
        </div>
        <div class="pb-4">
          <span class="top-title-sub">ブログ</span>
          <h2 class="top-title">BLOG</h2>
        </div>
      </div>
      <Posts posts={sortPostByDate} />
      <Pagination section={"posts"} currentPage={1} totalPages={totalPages} />
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
