// section style
.section {
  // @apply py-10;
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-0;
}

// sidebar title
.sidebar-title {
  @apply font-bold border-b-2 border-b p-[0.3em] mb-3 relative after:content-[''] after:bg-primary after:w-16 after:h-0.5 after:absolute after:bottom-[-2px] after:left-0 after:z-10;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

.form-input {
  @apply h-[50px] rounded-md border border-border placeholder:text-text;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-11 w-11 rounded-full border border-primary bg-body text-center text-primary transition-all duration-300 hover:bg-primary hover:text-body;
      svg {
        @apply m-auto h-11;
      }
    }
  }
  &.sm {
    @apply space-x-2;
    li {
      @apply inline-block;
      a {
        @apply block h-6 w-6 rounded-full border border-primary bg-body text-center text-primary transition-all duration-300 hover:bg-primary hover:text-body;
        svg {
          @apply m-auto h-6;
        }
      }
    }
  }
}

// notice
.notice {
  .notice-body {
    p {
      @apply my-0 text-[#666666];
    }
  }

  &.note {
    .notice-head {
      @apply bg-primary;
    }
    .notice-body {
      @apply bg-[#f1f8ff];
    }
  }

  &.tip {
    .notice-head {
      @apply bg-[#78c578];
    }
    .notice-body {
      @apply bg-[#e2ffe2];
    }
  }

  &.info {
    .notice-head {
      @apply bg-[#f0b37e];
    }
    .notice-body {
      @apply bg-[#ffedde];
    }
  }

  &.warning {
    .notice-head {
      @apply bg-[#e06f6c];
    }
    .notice-body {
      @apply bg-[#ffdad8];
    }
  }
}

.active-tab {
  @apply bg-theme-light;
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-[.5em] prose-headings:mb-[.9em] prose-headings:font-bold prose-headings:text-dark;
  @apply prose-h1:text-h1-prose-sm md:prose-h1:text-h1-prose;
  @apply prose-h2:text-h2-prose-sm md:prose-h2:text-h2-prose prose-h2:mb-5 md:prose-h2:mb-8 prose-h2:text-white prose-h2:px-4 prose-h2:py-2 prose-h2:bg-primary prose-h2:shadow-[0_0_0_10px_rgb(118,156,191)] prose-h2:border-t-2 prose-h2:border-b-2 prose-h2:border-white prose-h2:border-dashed;
  @apply prose-h3:text-h3-prose-sm md:prose-h3:text-h3-prose prose-h3:mb-5 md:prose-h3:mb-8 prose-h3:p-[0.3em] prose-h3:p-[0.3em] prose-h3:border-b-2 prose-h3:border-solid prose-h3:border-primary prose-h3:first-letter:text-[1.5em] prose-h3:first-letter:text-primary;
  @apply prose-hr:border-border;
  @apply prose-p:text-base prose-p:text-text;
  @apply prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:py-1 prose-blockquote:px-4;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-none;
  @apply prose-strong:text-dark;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:py-4 prose-th:px-4 prose-th:text-dark;
  @apply prose-tr:border-border;
  @apply prose-ul:bg-[#f1f8ff] prose-ul:shadow-[0_0_0_10px_rgb(241,248,255)] prose-ul:border-2 prose-ul:border-dashed prose-ul:border-primary prose-ul:rounded-s-lg prose-ul:mx-2.5 prose-ul:my-8 md:prose-ul:my-5 prose-ul:py-2 prose-ul:pr-2 prose-ul:pl-8;
  @apply prose-ol:bg-[#f1f8ff] prose-ol:shadow-[0_0_0_10px_rgb(241,248,255)] prose-ol:border-2 prose-ol:border-dashed prose-ol:border-primary prose-ol:rounded-s-lg prose-ol:mx-2.5 prose-ol:my-8 md:prose-ol:my-5 prose-ol:py-2 prose-ol:pr-2 prose-ol:pl-8;
  @apply prose-td:px-3 prose-td:py-4;
  @apply prose-li:py-2 prose-li:px-0 prose-li:leading-normal prose-li:marker:text-dark;
  
  // デフォルトの表記はこちら
  // @apply prose max-w-none;
  // @apply prose-headings:mt-[.5em] prose-headings:mb-[.9em] prose-headings:font-bold prose-headings:text-dark;
  // @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  // @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  // @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  // @apply prose-hr:border-border;
  // @apply prose-p:text-base prose-p:text-text;
  // @apply prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:py-1 prose-blockquote:px-4;
  // @apply prose-code:px-1 prose-code:text-primary;
  // @apply prose-pre:rounded-none;
  // @apply prose-strong:text-dark;
  // @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  // @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  // @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:py-4 prose-th:px-4 prose-th:text-dark;
  // @apply prose-tr:border-border;
  // @apply prose-ul:list-none;
  // @apply prose-ol:list-none;
  // @apply prose-td:px-3 prose-td:py-4;
  // @apply prose-li:relative prose-li:text-text prose-li:before:absolute prose-li:before:-left-6 prose-li:before:top-2 prose-li:before:h-[22px] prose-li:before:w-6 prose-li:before:bg-[url('/images/pointing-right.svg')] prose-li:before:bg-[length:20px_16px] prose-li:before:bg-no-repeat prose-li:before:content-[''];
}

//banner
.banner {
  // @apply relative bg-cover bg-center bg-no-repeat py-[100px] lg:pt-[230px] lg:pb-28;
  @apply relative bg-cover bg-center bg-no-repeat py-[100px] lg:pb-28;

  &-illustration {
    @apply lg:absolute lg:right-8 lg:bottom-0;

    @media screen and (min-width: 992px) and (max-width: 1600px) {
      @apply max-w-[600px];
    }

    img {
      @apply w-full;
    }
  }
}

//footer
.footer {
  &-copyright-text {
    a {
      @apply text-primary hover:text-primary hover:underline;
    }
  }
}
