// チェック柄のバックグラウンド
.bg-primary-check {
  background-color: #156ea4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2301609a' fill-opacity='0.67'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

// section style
.section {
  // @apply py-10;
}

// container
.container {
  @apply mx-auto px-0;
}

// index title
.index-title {
  @apply text-base sm:text-2xl font-bold border-b-2 border-b px-3 py-2 mb-12 relative after:content-[''] after:bg-primary after:w-4/12 after:h-0.5 after:absolute after:bottom-[-2px] after:left-0 after:z-10;
}

// sidebar title
.sidebar-title {
  @apply font-bold border-b-2 border-b p-[0.3em] mb-3 relative after:content-[''] after:bg-primary after:w-16 after:h-0.5 after:absolute after:bottom-[-2px] after:left-0 after:z-10;
}

// top title
.top-title {
  &-icon {
    @apply mb-2 flex justify-center items-center text-primary text-4xl sm:text-5xl;
    @apply before:bg-primary before:content-[''] before:grow before:h-0.5 before:mr-3;
    @apply after:bg-primary after:content-[''] after:grow after:h-0.5 after:ml-3;
  }
  &-sub {
    @apply sm:text-[13px] text-xs tracking-[.15em];
  }
  @apply font-bold sm:text-2xl text-xl tracking-[.2em];
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

.form-input {
  @apply h-[50px] rounded-md border border-border placeholder:text-text;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-11 w-11 rounded-full border border-primary bg-white text-center text-primary transition-all duration-300 hover:opacity-75;
      svg {
        @apply m-auto h-11;
      }
    }
  }
  &.sm {
    @apply space-x-2;
    li {
      @apply inline-block;
      a {
        @apply block h-6 w-6 rounded-full border border-primary bg-white text-center text-primary transition-all duration-300 hover:bg-primary hover:text-white;
        svg {
          @apply m-auto h-6;
        }
      }
    }
  }
}

// notice
.notice {
  .notice-body {
    p {
      @apply my-0 text-[#666666];
    }
  }

  &.note {
    .notice-head {
      @apply bg-primary;
    }
    .notice-body {
      @apply bg-[#f1f8ff];
    }
  }

  &.tip {
    .notice-head {
      @apply bg-[#78c578];
    }
    .notice-body {
      @apply bg-[#e2ffe2];
    }
  }

  &.info {
    .notice-head {
      @apply bg-[#f0b37e];
    }
    .notice-body {
      @apply bg-[#ffedde];
    }
  }

  &.warning {
    .notice-head {
      @apply bg-[#e06f6c];
    }
    .notice-body {
      @apply bg-[#ffdad8];
    }
  }
}

.active-tab {
  @apply bg-theme-light;
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-[.5em] prose-headings:mb-[.9em] prose-headings:font-bold prose-headings:text-dark;
  @apply prose-h1:text-h1-prose-sm sm:prose-h1:text-h1-prose;
  @apply prose-h2:bg-primary-check prose-h2:text-h2-prose-sm sm:prose-h2:text-h2-prose prose-h2:text-white prose-h2:pt-2 prose-h2:px-4 prose-h2:pb-1 prose-h2:sm:pb-1.5 prose-h2:relative prose-h2:sm:mt-16 prose-h2:sm:mb-12 prose-h2:mb-8;
  @apply prose-h2:after:bg-primary prose-h2:after:content-[''] prose-h2:after:w-full prose-h2:after:h-[3px] prose-h2:after:absolute prose-h2:after:bottom-[-6px] prose-h2:after:left-0;
  @apply prose-h3:text-h3-prose-sm sm:prose-h3:text-h3-prose prose-h3:my-6 sm:prose-h3:my-8 prose-h3:px-[0.3em] prose-h3:pt-[0.3em] prose-h3:border-b-2 prose-h3:border-solid prose-h3:border-primary prose-h3:first-letter:text-[1.5em] prose-h3:first-letter:text-primary;
  @apply prose-hr:border-border;
  @apply prose-p:sm:text-base prose-p:text-text prose-p:text-sm prose-p:mt-0 prose-p:mb-7 sm:prose-p:mb-8;
  @apply prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:py-1 prose-blockquote:px-4;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-none;
  @apply prose-strong:text-dark;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-ul:border prose-ul:border-solid prose-ul:border-primary prose-ul:my-5 prose-ul:py-[11px] prose-ul:pr-5 prose-ul:pl-9;
  @apply prose-ol:border prose-ol:border-solid prose-ol:border-primary prose-ol:my-5 prose-ol:py-[11px] prose-ol:pr-5 prose-ol:pl-9;
  @apply prose-li:mt-2.5 prose-li:text-sm prose-li:sm:text-base;

  @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:py-4 prose-th:px-4 prose-th:text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;
  
  // デフォルトの表記はこちら
  // @apply prose max-w-none;
  // @apply prose-headings:mt-[.5em] prose-headings:mb-[.9em] prose-headings:font-bold prose-headings:text-dark;
  // @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  // @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  // @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  // @apply prose-hr:border-border;
  // @apply prose-p:text-base prose-p:text-text;
  // @apply prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:py-1 prose-blockquote:px-4;
  // @apply prose-code:px-1 prose-code:text-primary;
  // @apply prose-pre:rounded-none;
  // @apply prose-strong:text-dark;
  // @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  // @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  // @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:py-4 prose-th:px-4 prose-th:text-dark;
  // @apply prose-tr:border-border;
  // @apply prose-ul:list-none;
  // @apply prose-ol:list-none;
  // @apply prose-td:px-3 prose-td:py-4;
  // @apply prose-li:relative prose-li:text-text prose-li:before:absolute prose-li:before:-left-6 prose-li:before:top-2 prose-li:before:h-[22px] prose-li:before:w-6 prose-li:before:bg-[url('/images/pointing-right.svg')] prose-li:before:bg-[length:20px_16px] prose-li:before:bg-no-repeat prose-li:before:content-[''];
}

//banner
.banner {
  // @apply relative bg-cover bg-center bg-no-repeat py-[100px] lg:pt-[230px] lg:pb-28;
  @apply relative bg-cover bg-center bg-no-repeat py-[100px] sm:pb-28 px-2 sm:px-8;

  &-illustration {
    @apply lg:absolute lg:right-8 lg:bottom-0;

    @media screen and (min-width: 992px) and (max-width: 1600px) {
      @apply max-w-[600px];
    }

    img {
      @apply w-full;
    }
  }
}

// toc
.toc {
  @apply [counter-reset:toc];
}
.toc-item-h2 {
  @apply relative pl-5 mb-1 text-[15px] sm:text-base before:absolute [counter-increment:toc] before:[content:counters(toc,"-")"."] before:left-0 before:top-1 before:text-sm;
}
.toc-item-h3 {
  @apply relative pl-7 mb-1 text-sm sm:text-[15px] before:absolute [counter-increment:toc] before:[content:counters(toc,"-")"."] before:left-0 before:top-[0.15rem] before:text-xs;
}


// ブログカードのUI
.card-transition {
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);

  &:hover {
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
    transform: translateY(-4px);
  }
}

// タグやカテゴリーのUI
.tag-transition {
  transition: 0.2s ease-in-out;

  &:hover {
    transform: translateY(-1px);
  }
}
