---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Post from "@/layouts/partials/Post.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
const { blog_folder, pagination } = config.settings;

export async function getStaticPaths() {
  const { blog_folder } = config.settings;
  const tags = await getTaxonomy(blog_folder, "tags");

  return tags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;
const posts = await getSinglePage(blog_folder as any);
const filterByTags = taxonomyFilter(posts, "tags", tag);
const totalPages = Math.ceil(filterByTags.length / pagination);
---

<Base title={tag as any}>
  <!-- Blogs -->
  <div class="section">
    <div class="container">
      <div class="row gy-5 gx-4">
        <h1 class="h2 mb-8">
          Posts related to <span class="text-primary">{tag}</span> tag
        </h1>
        {
          filterByTags.slice(0, pagination).map((post) => (
            <Post post={post} />
          ))
        }
        <Pagination section={`tags/${tag}`} currentPage={1} totalPages={totalPages} />
      </div>
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
