---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { humanize } from "@/lib/utils/textConverter";
import { BiPurchaseTag } from "react-icons/bi";
const { blog_folder, pagination } = config.settings;

export async function getStaticPaths() {
  const { blog_folder } = config.settings;
  const tags = await getTaxonomy(blog_folder, "tags");

  return tags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;
const posts = await getSinglePage(blog_folder as any);
const filterByTags = taxonomyFilter(posts, "tags", tag);
const totalPages = Math.ceil(filterByTags.length / pagination);
---

<Base title={tag as any}>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow sm:p-[60px] bg-white">
    <div class="container row">
      <div class="text-center border-b-2 border-primary mb-12 px-0">
        <div class="top-title-icon">
          <BiPurchaseTag />
        </div>
        <div class="pb-4">
          <span class="top-title-sub">タグ</span>
          <h2 class="top-title">{humanize(tag || "")}</h2>
        </div>
      </div>   
      <Posts posts={filterByTags} />
      <Pagination section={`tags/${tag}`} currentPage={1} totalPages={totalPages} />
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
