---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { BiPurchaseTag } from "react-icons/bi";

const { blog_folder } = config.settings;

const tags = await getTaxonomy(blog_folder, "tags");
---

<Base title={"tags"}>
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container row">
      <div class="text-center border-b-2 border-primary mb-12 px-0">
        <div class="top-title-icon">
          <BiPurchaseTag />
        </div>
        <div class="pb-4">
          <span class="top-title-sub">タグ</span>
          <h2 class="top-title">TAG</h2>
        </div>
      </div>   
      <div class="items-center text-sm flex flex-wrap gap-3">
        {tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="bg-white text-primary border-primary p-1.5 border text-base-fit tag-transition"
          >
            # {humanize(tag || "")}
          </a>
        ))}
      </div>
    </div>
  </div>
</Base>
