---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";

const { blog_folder } = config.settings;

const tags = await getTaxonomy(blog_folder, "tags");
---

<Base title={"tags"}>
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container row">
      <h1 class="index-title">タグ</h1>
      <div class="items-center text-sm flex flex-wrap gap-3">
        {tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="bg-white text-primary border-primary p-1.5 border text-base-fit hover:opacity-75"
          >
            # {humanize(tag || "")}
          </a>
        ))}
      </div>
    </div>
  </div>
</Base>
